* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  padding: 10vh 0 0 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#invitation,#accept {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#text-container {
  text-align: center;
}

.text {
  font-size: 24px;
}

.gif {
  width: 60vw;
  max-width: 300px;
  margin-bottom: 20px;
}

.please-gif {
  width: 60vw;
  max-width: 100px;
  display: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttons {
  margin-top: 10px;
  border: none;
  border-radius: 7px;
  padding: 15px 40px;
  color: white;
  cursor: pointer;
}

.success {
  background-color: green;
  font-weight: bold;
  transition: 200ms;
}

.success:hover {
  background-color: rgb(0, 175, 0);
}

.danger {
  background-color: red;
}

#please {
  display: none;
}

.bold {
  font-weight: bold;
}

/* Index */

#invitation {
  width: 85vw;
  display: inline-block;
}

input {
  font-size: 14px;
  border: none;
  border-bottom: solid 1px;
  outline: none;
  flex-grow: 1;
}

.input-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#link-container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
